:root {
  --font: 'loves';
}

@font-face {
    font-family: 'loves';
    src: url('../fonts/loves.ttf');
}

body {
	background-color: #2e2e2e;
    background-image: url(../img/black-felt.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
}

header {
	background-color: #1c1c1c;
	height: 50px;
	align-items: center;
	justify-content: center;

	h1 {
		font-family: var(--font);
	}
}

footer {
	background-color: #1c1c1c;
	height: 100px;
}

h1 {
	font-size: 1.25em;
}

section {
	padding: 15px;
	font-family: 'Trebuchet MS', sans-serif;
}

#menu-toggle {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 1.25em;
	cursor: pointer;
	padding: 20px;
	width: 50px;
	height: 50px;
}

#experience-menu-open, #experience-menu-close {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#experience-menu-close {
	display: none;
}

#navigation-menu {
	background-color: #9589a5;
	display: none;

	ul > li > a{
		display: block;
		padding: 10px;
		width: 100%;
		height: 100%;
	}
}

/*animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;*/

/*@keyframes bounce {
	0%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	50% {
		-webkit-transform: translateY(-3px);
		-ms-transform:     translateY(-3px);
		transform:         translateY(-3px)
	}
}*/

.section-container {
	padding: 15px;
	background-color: #1c1c1c;

	h1 {
		background-image: linear-gradient(#9589a5, #9589a5);
    	background-position: 0px 15px;
    	background-repeat: no-repeat;
	}
}

.heading-container {
	width: 50%;
}

.switch {
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 17px;
	right: 15px;

	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 34px;

	&:before {
		position: absolute;
		content: "";
		height: 13px;
		width: 13px;
		left: 4px;
		top: 2px;
		border-radius: 50%;
		background-color: white;
		transition: .2s;
	}
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	transform: translateX(9px);
}

.inversed {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.social-links {
	height: 70px;
	align-items: center;
	justify-content: space-between;
	font-size: 1.25em;

	a {
		transition: all 0.2s ease-in-out;
	}

	a:hover {
		transform: scale(1.5);
	}
}

.tooltip {
	font-family: var(--font);
	color: black;
	width: 80px;
	font-size: 0.6em;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	transform: translate(0px, -38px);
}

.tooltip:after {
    content: '';
    position: absolute;
    left: 35px;
    top: 28px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(255, 255, 255, 0.9);
}

.copyright {
	font-family: var(--font);
	height: 30px;
	font-size: 0.7em;
	justify-content: center;
	align-items: center;
}