@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: 'Courier New';
  --font-bold: 'Courier'
}

@font-face {
  font-family: 'Courier New';
  font-family: 'Courier';
}

body {
	font-family: var(--font);
	background-color: white;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: repeat;
}

header {
	background-color: #F4F4F4;
	height: 50px;
	align-items: center;
	justify-content: center;
}

footer {
	background-color: #F4F4F4;
}

h1 {
	font-family: var(--font-bold);
	font-size: 1.5em;
}

section {
	padding: 15px 15px 0px 15px;
}

section:last-of-type {
	padding-bottom: 15px;
}

#menu-toggle {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 1.25em;
	cursor: pointer;
	padding: 20px;
	width: 50px;
	height: 50px;
}

#experience-menu-open, #experience-menu-close {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#experience-menu-close {
	display: none;
}

#navigation-menu {
	background-color: #F4F4F4;
	display: none;
}

#navigation-menu > ul > li > a {
	display: block;
	padding: 10px;
	width: 100%;
	height: 100%;
}

/*animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;*/

/*@keyframes bounce {
	0%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	50% {
		-webkit-transform: translateY(-3px);
		-ms-transform:     translateY(-3px);
		transform:         translateY(-3px)
	}
}*/

.section-container {
	padding: 15px;
	background-color: #F4F4F4;
}

.section-container h1 {
	background-image: linear-gradient(#2196f3, #2196f3);
  background-position: 0px 15px;
  background-repeat: no-repeat;
}

.heading-container {
	width: 50%;
}

.switch {
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 17px;
	right: 15px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 4px;
	top: 2px;
	border-radius: 50%;
	background-color: white;
	transition: .2s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	transform: translateX(9px);
}

.inversed {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.skills-image {
	width: 100px;
}

.social-links {
	align-items: center;
	justify-content: space-between;
	font-size: 1.25em;
	max-width: 500px;
}

.social-links a {
	transition: all 0.2s ease-in-out;
}

.social-links a:hover {
	transform: scale(1.5);
}

.tooltip {
	position: absolute;
	text-align: center;
	color: white;
	width: 80px;
	font-size: 0.6em;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 5px;
	transform: translate(0px, -38px);
}

.copyright {
	font-size: 0.7em;
	justify-content: center;
	align-items: center;
}