@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-size: 1.2rem;
}

.w-9\/10 {
	width: 90%;
}

.particle-overlay {
    background-color: #2E2E2E;
    background-image: url(../img/black-felt.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
}

.particle-overlay > canvas {
    position: absolute;
}

.profile-container {
	background-image: url(../img/black-felt.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
	background-color: #1c1c1c;
	max-width: 500px;
}

.social-links a {
	transition: all 0.2s ease-in-out;
}

.social-links a:hover {
	transform: scale(1.5);
}

.tooltip {
	position: absolute;
	text-align: center;
	color: black;
	width: 80px;
	font-size: 0.6em;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	transform: translate(0px, -38px);
}

.tooltip:after {
    content: '';
    position: absolute;
    left: 35px;
    top: 28px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(255, 255, 255, 0.9);
}

.button {
	color: black;
	background-color: rgba(255, 255, 255, 0.9);
	pointer-events: all;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	font-size: 0.9em;
	transition: all 0.2s ease-in-out;
}

.button-sm {
	color: black;
	background-color: rgba(255, 255, 255, 0.9);
	pointer-events: all;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	font-size: 0.9em;
	transition: all 0.2s ease-in-out;
}

.button:hover, .button-sm:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width : 768px) {
	.profile-container {
		max-width: 730px;
	}

	.md\:button {
		padding: 10px 20px 10px 20px;
	}
}
